.Header {
    background: #222222;
    /*color: white;*/
    color: #69676d;

    position: relative;
    top: -20px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: sans-serif;
}

.Header > h1 {
    top: 20px;
    position: relative;

}
