.Buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 15vw;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 10vh;
}

.YesButton {
    flex: 1 1 auto;
    padding: 15px;
    /*border: 2px solid #f7f7f7;*/
    border-radius: 8px;
    margin-top: 5em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
    border: 2px solid #006699;
    color: #006699;
}

.YesButton:hover {
    cursor: pointer;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    transform: scale(1.25);
    /*background: #f7f7f7;*/
    color: rgba(86, 232, 212, 1);
    border: 2px solid rgba(86, 232, 212, 1);
}

